In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

import tensorflow
tensorflow.keras.__version__
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import pandas as pd 
import datetime

In [2]:
# import csv
df = pd.read_csv("HR_Mockdata.csv")
# convert date columns to datetime
date_columns = ['hire_date', 'move_date']
for date in date_columns:
    df[date] =  pd.to_datetime(df[date], errors='coerce', dayfirst=True, 
                                                      yearfirst=False, format=None)
# find number of days between hire and move and convert to numerical value
df['delta'] =  (df['move_date'] - df['hire_date']).dt.days
# drop datetime columns
df = df.drop(columns=['move_date', 'hire_date'])
# drop columns not included in analysis
df = df.drop(columns=[ 'country_home', 'country_host', 'end_date',
                        'fired_quit'])
# Drop null columns/rows
df = df.dropna(axis='columns', how='all')
df = df.dropna()
df.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,salary,leader_host,culture_home,culture_host,function_host,business Size_host,economic Perspective_host,buzz_bust,delta
14994,0.50,0.57,2,151,0,0,low,key talent,egalitarian,egalitarian,finance,united states,positive,buzz,1687.0
14995,0.37,0.48,2,160,0,0,low,consistent,consensual,egalitarian,commercial,united states,positive,buzz,2466.0
14996,0.37,0.53,2,143,0,0,low,consistent,egalitarian,egalitarian,finance,sbu,positive,buzz,1120.0
14997,0.50,0.96,6,280,0,0,low,key talent,hierarquical,egalitarian,operations,united states,positive,buzz,2335.0
14998,0.37,0.52,2,158,0,0,low,consistent,egalitarian,egalitarian,commercial,united states,positive,buzz,2296.0

In [3]:
list(df.columns.values)

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'Work_accident',
 'promotion_last_5years',
 'salary',
 'leader_host',
 'culture_home',
 'culture_host',
 'function_host',
 'business Size_host',
 'economic Perspective_host',
 'buzz_bust',
 'delta']

In [4]:
# select column names that need to be converted to dummy variables
to_dummify = [
 'salary',
 'leader_host',
 'culture_home',
 'culture_host',
 'economic Perspective_host',
 'business Size_host', 
 'function_host'
 ]

In [5]:
for dummy in to_dummify:
    df = pd.concat([df.drop(dummy, axis=1), pd.get_dummies(df[dummy], drop_first=True,
                prefix=dummy)], axis=1)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,buzz_bust,delta,salary_low,salary_medium,...,function_host_communication,function_host_compliance,function_host_finance,function_host_human resources,function_host_legal,function_host_market access,function_host_marketing,function_host_medical,function_host_operations,function_host_regulatory affairs
0,0.38,0.53,2,157,0,0,bust,5175.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0.90,0.86,5,262,0,0,bust,3534.0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,0.11,0.88,7,272,0,0,bust,3098.0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,0.75,0.87,5,223,0,0,bust,725.0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0.37,0.52,2,159,0,0,bust,4599.0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X = df.drop("buzz_bust", axis=1)
y = df["buzz_bust"]
print(X.shape, y.shape)
X.head(1)

(13410, 34) (13410,)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,delta,salary_low,salary_medium,leader_host_key talent,...,function_host_communication,function_host_compliance,function_host_finance,function_host_human resources,function_host_legal,function_host_market access,function_host_marketing,function_host_medical,function_host_operations,function_host_regulatory affairs
0,0.38,0.53,2,157,0,0,5175.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                    random_state=1, stratify=y)

In [8]:
# Create a StandardScater model and fit it to the training data
X_scaler = MinMaxScaler().fit(X_train)

C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [9]:
# Transform the training and testing data using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [11]:
# determine input_dim for model
input_dim = len(list(df.columns.values))-1

# create model
model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=input_dim))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [12]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 210
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 14
=================================================================
Total params: 266
Trainable params: 266
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [14]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
 - 1s - loss: 0.5492 - acc: 0.7552
Epoch 2/100
 - 0s - loss: 0.5081 - acc: 0.7916
Epoch 3/100
 - 0s - loss: 0.5015 - acc: 0.7916
Epoch 4/100
 - 0s - loss: 0.4944 - acc: 0.7916
Epoch 5/100
 - 0s - loss: 0.4875 - acc: 0.7915
Epoch 6/100
 - 0s - loss: 0.4794 - acc: 0.7913
Epoch 7/100
 - 1s - loss: 0.4714 - acc: 0.7912
Epoch 8/100
 - 1s - loss: 0.4645 - acc: 0.7915
Epoch 9/100
 - 0s - loss: 0.4585 - acc: 0.7925
Epoch 10/100
 - 0s - loss: 0.4528 - acc: 0.7946
Epoch 11/100
 - 0s - loss: 0.4483 - acc: 0.7966
Epoch 12/100
 - 0s - loss: 0.4432 - acc: 0.8003
Epoch 13/100
 - 0s - loss: 0.4390 - acc: 0.8023
Epoch 14/100
 - 0s - loss: 0.4332 - acc: 0.8076
Epoch 15/100
 - 0s - loss: 0.4287 - acc: 0.8092
Epoch 16/100
 - 0s - loss: 0.4236 - acc: 0.8122
Epoch 17/100
 - 0s - loss: 0.4196 - acc: 0.8110
Epoch 18/100
 - 0s - loss: 0.4159 - acc: 0.8143
Epoch 19/100
 - 0s - loss: 0.4116 - acc: 0.8171
Epoch 20/100
 - 1s - loss: 0.4091 - acc: 0.8150
Epoch 21/100
 - 1s - loss: 0.4044 - acc: 0.8200
Epoch 22/100
 - 0s - loss: 0.4002 - acc: 0.8179
Epoch 23/100
 - 1s - loss: 0.3980 - acc: 0.8184
Epoch 24/100
 - 1s - loss: 0.3942 - acc: 0.8215
Epoch 25/100
 - 0s - loss: 0.3905 - acc: 0.8211
Epoch 26/100
 - 0s - loss: 0.3884 - acc: 0.8217
Epoch 27/100
 - 0s - loss: 0.3852 - acc: 0.8219
Epoch 28/100
 - 1s - loss: 0.3842 - acc: 0.8209
Epoch 29/100
 - 0s - loss: 0.3812 - acc: 0.8226
Epoch 30/100
 - 0s - loss: 0.3802 - acc: 0.8216
Epoch 31/100
 - 0s - loss: 0.3785 - acc: 0.8244
Epoch 32/100
 - 1s - loss: 0.3774 - acc: 0.8243
Epoch 33/100
 - 0s - loss: 0.3770 - acc: 0.8260
Epoch 34/100
 - 0s - loss: 0.3760 - acc: 0.8295
Epoch 35/100
 - 0s - loss: 0.3745 - acc: 0.8293
Epoch 36/100
 - 0s - loss: 0.3734 - acc: 0.8302
Epoch 37/100
 - 0s - loss: 0.3729 - acc: 0.8349
Epoch 38/100
 - 0s - loss: 0.3719 - acc: 0.8305
Epoch 39/100
 - 0s - loss: 0.3715 - acc: 0.8331
Epoch 40/100
 - 1s - loss: 0.3710 - acc: 0.8329
Epoch 41/100
 - 1s - loss: 0.3698 - acc: 0.8335
Epoch 42/100
 - 0s - loss: 0.3692 - acc: 0.8333
Epoch 43/100
 - 1s - loss: 0.3699 - acc: 0.8346
Epoch 44/100
 - 1s - loss: 0.3687 - acc: 0.8364
Epoch 45/100
 - 0s - loss: 0.3673 - acc: 0.8372
Epoch 46/100
 - 0s - loss: 0.3674 - acc: 0.8374
Epoch 47/100
 - 0s - loss: 0.3671 - acc: 0.8343
Epoch 48/100
 - 0s - loss: 0.3652 - acc: 0.8378
Epoch 49/100
 - 0s - loss: 0.3659 - acc: 0.8344
Epoch 50/100
 - 0s - loss: 0.3650 - acc: 0.8400
Epoch 51/100
 - 0s - loss: 0.3648 - acc: 0.8348
Epoch 52/100
 - 0s - loss: 0.3649 - acc: 0.8364
Epoch 53/100
 - 0s - loss: 0.3634 - acc: 0.8364
Epoch 54/100
 - 0s - loss: 0.3632 - acc: 0.8370
Epoch 55/100
 - 0s - loss: 0.3624 - acc: 0.8393
Epoch 56/100
 - 1s - loss: 0.3613 - acc: 0.8371
Epoch 57/100
 - 1s - loss: 0.3604 - acc: 0.8371
Epoch 58/100
 - 1s - loss: 0.3597 - acc: 0.8404
Epoch 59/100
 - 0s - loss: 0.3605 - acc: 0.8410
Epoch 60/100
 - 1s - loss: 0.3594 - acc: 0.8395
Epoch 61/100
 - 1s - loss: 0.3594 - acc: 0.8420
Epoch 62/100
 - 0s - loss: 0.3586 - acc: 0.8408
Epoch 63/100
 - 0s - loss: 0.3587 - acc: 0.8425
Epoch 64/100
 - 0s - loss: 0.3584 - acc: 0.8439
Epoch 65/100
 - 0s - loss: 0.3578 - acc: 0.8429
Epoch 66/100
 - 1s - loss: 0.3574 - acc: 0.8397
Epoch 67/100
 - 1s - loss: 0.3574 - acc: 0.8415
Epoch 68/100
 - 1s - loss: 0.3583 - acc: 0.8416
Epoch 69/100
 - 1s - loss: 0.3559 - acc: 0.8454
Epoch 70/100
 - 0s - loss: 0.3561 - acc: 0.8464
Epoch 71/100
 - 1s - loss: 0.3551 - acc: 0.8452
Epoch 72/100
 - 1s - loss: 0.3557 - acc: 0.8406
Epoch 73/100
 - 1s - loss: 0.3551 - acc: 0.8435
Epoch 74/100
 - 1s - loss: 0.3551 - acc: 0.8442
Epoch 75/100
 - 0s - loss: 0.3554 - acc: 0.8461
Epoch 76/100
 - 1s - loss: 0.3545 - acc: 0.8458
Epoch 77/100
 - 1s - loss: 0.3539 - acc: 0.8442
Epoch 78/100
 - 0s - loss: 0.3542 - acc: 0.8469
Epoch 79/100
 - 1s - loss: 0.3541 - acc: 0.8461
Epoch 80/100
 - 0s - loss: 0.3533 - acc: 0.8433
Epoch 81/100
 - 0s - loss: 0.3528 - acc: 0.8446
Epoch 82/100
 - 0s - loss: 0.3524 - acc: 0.8435
Epoch 83/100
 - 1s - loss: 0.3529 - acc: 0.8444
Epoch 84/100
 - 1s - loss: 0.3524 - acc: 0.8432
Epoch 85/100
 - 1s - loss: 0.3513 - acc: 0.8473
Epoch 86/100
 - 1s - loss: 0.3520 - acc: 0.8449
Epoch 87/100
 - 1s - loss: 0.3517 - acc: 0.8445
Epoch 88/100
 - 1s - loss: 0.3514 - acc: 0.8442
Epoch 89/100
 - 1s - loss: 0.3513 - acc: 0.8462
Epoch 90/100
 - 0s - loss: 0.3517 - acc: 0.8457
Epoch 91/100
 - 1s - loss: 0.3502 - acc: 0.8459
Epoch 92/100
 - 1s - loss: 0.3504 - acc: 0.8467
Epoch 93/100
 - 0s - loss: 0.3498 - acc: 0.8437
Epoch 94/100
 - 1s - loss: 0.3491 - acc: 0.8485
Epoch 95/100
 - 1s - loss: 0.3497 - acc: 0.8449
Epoch 96/100
 - 0s - loss: 0.3492 - acc: 0.8480
Epoch 97/100
 - 1s - loss: 0.3486 - acc: 0.8486
Epoch 98/100
 - 0s - loss: 0.3484 - acc: 0.8485
Epoch 99/100
 - 1s - loss: 0.3495 - acc: 0.8467
Epoch 100/100
 - 0s - loss: 0.3481 - acc: 0.8474

In [18]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.3628 - acc: 0.8258
Normal Neural Network - Loss: 0.36284984953539284, Accuracy: 0.8258275985717773

In [25]:
# Save the model
model.save("Output/ML_NeuralNet_WhyExpat.h5")