In [1]:
import tensorflow
tensorflow.keras.__version__

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
import pandas as pd
df = pd.read_csv("HR_Mockdata.csv")
df = df.drop(columns=["sales \nfunction", "hire_date", 'move_date', 'end_date',
                    'country_home', 'country_host', 'business Size_host', 
                      'economic Perspective_host', 'left', 'fired_quit'])
# Drop null columns/rows
df = df.dropna(axis='columns', how='all')
df = df.dropna()
df.tail()

,#,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary,leader_host,culture_home,culture_host,function_host,buzz_bust
14994,10244,1.0,0.63,2,105,2,0,0,medium,key talent,consensual,egalitarian,operations,buzz
14995,10326,1.0,0.89,4,254,3,1,0,medium,well placed talent,hierarquical,egalitarian,operations,buzz
14996,10918,1.0,0.73,4,240,4,0,0,low,well placed talent,hierarquical,egalitarian,operations,bust
14997,11376,1.0,0.93,5,167,3,0,0,medium,well placed talent,hierarquical,egalitarian,operations,buzz
14998,12828,1.0,0.55,3,170,3,0,0,medium,well placed talent,consensual,egalitarian,regulatory affairs,buzz

In [3]:
list(df.columns.values)

['#',
 'satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'Work_accident',
 'promotion_last_5years',
 'salary',
 'leader_host',
 'culture_home',
 'culture_host',
 'function_host',
 'buzz_bust']

In [4]:
# select column names that need to be converted to dummy variables
to_dummify = [
 'salary',
 'leader_host',
 'culture_home',
 'culture_host',
 'function_host'
 ]

In [5]:
for dummy in to_dummify:
    df = pd.concat([df.drop(dummy, axis=1), pd.get_dummies(df[dummy], 
                prefix=dummy)], axis=1)
df.head()

,#,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,buzz_bust,salary_high,...,function_host_communication,function_host_compliance,function_host_finance,function_host_human resources,function_host_legal,function_host_market access,function_host_marketing,function_host_medical,function_host_operations,function_host_regulatory affairs
0,45,0.09,0.89,6,276,4,0,0,bust,0,...,0,0,0,0,0,0,1,0,0,0
1,513,0.09,0.96,6,259,4,0,0,buzz,0,...,0,0,0,0,0,0,0,0,0,0
2,529,0.09,0.80,6,301,5,0,0,buzz,0,...,0,0,0,0,0,0,0,0,0,0
3,689,0.09,0.82,6,257,4,0,0,buzz,0,...,0,0,0,0,0,0,0,0,0,0
4,1189,0.09,0.80,5,279,4,0,0,buzz,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X = df.drop("buzz_bust", axis=1)
y = df["buzz_bust"]
print(X.shape, y.shape)
X.head(1)

(14999, 35) (14999,)

,#,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary_high,salary_low,...,function_host_communication,function_host_compliance,function_host_finance,function_host_human resources,function_host_legal,function_host_market access,function_host_marketing,function_host_medical,function_host_operations,function_host_regulatory affairs
0,45,0.09,0.89,6,276,4,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                    random_state=1, stratify=y)

In [8]:
from sklearn.preprocessing import MinMaxScaler
# Create a StandardScater model and fit it to the training data
X_scaler = MinMaxScaler().fit(X_train)

C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [9]:
# Transform the training and testing data using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [15]:

model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=35))
model.add(Dense(units=2, activation='softmax'))

In [16]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 6)                 216
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 14
=================================================================
Total params: 230
Trainable params: 230
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [18]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
 - 2s - loss: 0.5693 - acc: 0.7441
Epoch 2/100
 - 1s - loss: 0.5365 - acc: 0.7678
Epoch 3/100
 - 1s - loss: 0.5327 - acc: 0.7678
Epoch 4/100
 - 1s - loss: 0.5300 - acc: 0.7678
Epoch 5/100
 - 1s - loss: 0.5272 - acc: 0.7678
Epoch 6/100
 - 1s - loss: 0.5242 - acc: 0.7678
Epoch 7/100
 - 1s - loss: 0.5209 - acc: 0.7678
Epoch 8/100
 - 1s - loss: 0.5176 - acc: 0.7679
Epoch 9/100
 - 1s - loss: 0.5147 - acc: 0.7678
Epoch 10/100
 - 1s - loss: 0.5123 - acc: 0.7680
Epoch 11/100
 - 1s - loss: 0.5102 - acc: 0.7677
Epoch 12/100
 - 1s - loss: 0.5085 - acc: 0.7674
Epoch 13/100
 - 1s - loss: 0.5068 - acc: 0.7674
Epoch 14/100
 - 1s - loss: 0.5055 - acc: 0.7678
Epoch 15/100
 - 1s - loss: 0.5040 - acc: 0.7674
Epoch 16/100
 - 1s - loss: 0.5030 - acc: 0.7680
Epoch 17/100
 - 1s - loss: 0.5018 - acc: 0.7677
Epoch 18/100
 - 1s - loss: 0.5011 - acc: 0.7676
Epoch 19/100
 - 1s - loss: 0.5003 - acc: 0.7674
Epoch 20/100
 - 1s - loss: 0.4993 - acc: 0.7681
Epoch 21/100
 - 1s - loss: 0.4986 - acc: 0.7684
Epoch 22/100
 - 1s - loss: 0.4983 - acc: 0.7677
Epoch 23/100
 - 1s - loss: 0.4978 - acc: 0.7678
Epoch 24/100
 - 1s - loss: 0.4973 - acc: 0.7685
Epoch 25/100
 - 1s - loss: 0.4972 - acc: 0.7677
Epoch 26/100
 - 1s - loss: 0.4969 - acc: 0.7685
Epoch 27/100
 - 1s - loss: 0.4966 - acc: 0.7676
Epoch 28/100
 - 1s - loss: 0.4960 - acc: 0.7673
Epoch 29/100
 - 1s - loss: 0.4961 - acc: 0.7683
Epoch 30/100
 - 1s - loss: 0.4955 - acc: 0.7688
Epoch 31/100
 - 1s - loss: 0.4954 - acc: 0.7684
Epoch 32/100
 - 1s - loss: 0.4952 - acc: 0.7678
Epoch 33/100
 - 1s - loss: 0.4951 - acc: 0.7682
Epoch 34/100
 - 1s - loss: 0.4948 - acc: 0.7678
Epoch 35/100
 - 1s - loss: 0.4946 - acc: 0.7685
Epoch 36/100
 - 1s - loss: 0.4942 - acc: 0.7677
Epoch 37/100
 - 1s - loss: 0.4941 - acc: 0.7690
Epoch 38/100
 - 1s - loss: 0.4940 - acc: 0.7682
Epoch 39/100
 - 1s - loss: 0.4943 - acc: 0.7676
Epoch 40/100
 - 1s - loss: 0.4937 - acc: 0.7690
Epoch 41/100
 - 1s - loss: 0.4931 - acc: 0.7677
Epoch 42/100
 - 1s - loss: 0.4933 - acc: 0.7686
Epoch 43/100
 - 1s - loss: 0.4929 - acc: 0.7684
Epoch 44/100
 - 1s - loss: 0.4930 - acc: 0.7697
Epoch 45/100
 - 1s - loss: 0.4929 - acc: 0.7682
Epoch 46/100
 - 1s - loss: 0.4930 - acc: 0.7684
Epoch 47/100
 - 1s - loss: 0.4923 - acc: 0.7682
Epoch 48/100
 - 1s - loss: 0.4923 - acc: 0.7685
Epoch 49/100
 - 1s - loss: 0.4921 - acc: 0.7682
Epoch 50/100
 - 1s - loss: 0.4920 - acc: 0.7692
Epoch 51/100
 - 1s - loss: 0.4917 - acc: 0.7691
Epoch 52/100
 - 1s - loss: 0.4916 - acc: 0.7685
Epoch 53/100
 - 1s - loss: 0.4912 - acc: 0.7693
Epoch 54/100
 - 1s - loss: 0.4916 - acc: 0.7685
Epoch 55/100
 - 1s - loss: 0.4913 - acc: 0.7688
Epoch 56/100
 - 1s - loss: 0.4911 - acc: 0.7679
Epoch 57/100
 - 1s - loss: 0.4910 - acc: 0.7690
Epoch 58/100
 - 1s - loss: 0.4908 - acc: 0.7695
Epoch 59/100
 - 1s - loss: 0.4906 - acc: 0.7694
Epoch 60/100
 - 1s - loss: 0.4907 - acc: 0.7684
Epoch 61/100
 - 1s - loss: 0.4905 - acc: 0.7689
Epoch 62/100
 - 1s - loss: 0.4903 - acc: 0.7680
Epoch 63/100
 - 1s - loss: 0.4904 - acc: 0.7685
Epoch 64/100
 - 1s - loss: 0.4903 - acc: 0.7687
Epoch 65/100
 - 1s - loss: 0.4901 - acc: 0.7688
Epoch 66/100
 - 1s - loss: 0.4901 - acc: 0.7692
Epoch 67/100
 - 1s - loss: 0.4901 - acc: 0.7690
Epoch 68/100
 - 1s - loss: 0.4899 - acc: 0.7687
Epoch 69/100
 - 1s - loss: 0.4894 - acc: 0.7689
Epoch 70/100
 - 1s - loss: 0.4898 - acc: 0.7680
Epoch 71/100
 - 1s - loss: 0.4895 - acc: 0.7681
Epoch 72/100
 - 1s - loss: 0.4896 - acc: 0.7685
Epoch 73/100
 - 1s - loss: 0.4897 - acc: 0.7687
Epoch 74/100
 - 1s - loss: 0.4893 - acc: 0.7694
Epoch 75/100
 - 1s - loss: 0.4895 - acc: 0.7677
Epoch 76/100
 - 1s - loss: 0.4893 - acc: 0.7699
Epoch 77/100
 - 1s - loss: 0.4886 - acc: 0.7685
Epoch 78/100
 - 1s - loss: 0.4896 - acc: 0.7679
Epoch 79/100
 - 1s - loss: 0.4890 - acc: 0.7683
Epoch 80/100
 - 1s - loss: 0.4892 - acc: 0.7687
Epoch 81/100
 - 1s - loss: 0.4891 - acc: 0.7695
Epoch 82/100
 - 1s - loss: 0.4892 - acc: 0.7690
Epoch 83/100
 - 1s - loss: 0.4888 - acc: 0.7693
Epoch 84/100
 - 1s - loss: 0.4888 - acc: 0.7681
Epoch 85/100
 - 1s - loss: 0.4885 - acc: 0.7695
Epoch 86/100
 - 1s - loss: 0.4887 - acc: 0.7687
Epoch 87/100
 - 1s - loss: 0.4889 - acc: 0.7677
Epoch 88/100
 - 1s - loss: 0.4888 - acc: 0.7704
Epoch 89/100
 - 1s - loss: 0.4883 - acc: 0.7695
Epoch 90/100
 - 1s - loss: 0.4881 - acc: 0.7699
Epoch 91/100
 - 1s - loss: 0.4886 - acc: 0.7692
Epoch 92/100
 - 1s - loss: 0.4885 - acc: 0.7677
Epoch 93/100
 - 1s - loss: 0.4883 - acc: 0.7695
Epoch 94/100
 - 1s - loss: 0.4880 - acc: 0.7687
Epoch 95/100
 - 1s - loss: 0.4882 - acc: 0.7693
Epoch 96/100
 - 1s - loss: 0.4884 - acc: 0.7688
Epoch 97/100
 - 1s - loss: 0.4880 - acc: 0.7693
Epoch 98/100
 - 1s - loss: 0.4882 - acc: 0.7694
Epoch 99/100
 - 1s - loss: 0.4881 - acc: 0.7689
Epoch 100/100
 - 1s - loss: 0.4879 - acc: 0.7690

In [19]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.4941 - acc: 0.7712
Normal Neural Network - Loss: 0.494071794907252, Accuracy: 0.7712000012397766