In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

import tensorflow
tensorflow.keras.__version__
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import pandas as pd 
import datetime

In [54]:
# import csv
df = pd.read_csv("HR_Mockdata.csv")
# convert date columns to datetime
date_columns = ['hire_date', 'move_date']
for date in date_columns:
    df[date] =  pd.to_datetime(df[date], errors='coerce', dayfirst=True, 
                                                      yearfirst=False, format=None)
# find number of days between hire and move and convert to numerical value
df['delta'] =  (df['move_date'] - df['hire_date']).dt.days
# drop datetime columns
df = df.drop(columns=['move_date', 'hire_date'])
# drop columns not included in analysis
df = df.drop(columns=["sales \nfunction", 'country_home', 'country_host', 'end_date',
                       'left', 'fired_quit', '#', 'time_spend_company'])
# Drop null columns/rows
df = df.dropna(axis='columns', how='all')
df = df.dropna()
df.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,salary,leader_host,culture_home,culture_host,function_host,business Size_host,economic Perspective_host,buzz_bust,delta
14994,0.10,0.90,6,299,0,0,low,consistent,consensual,egalitarian,operations,united states,positive,buzz,4749.0
14995,0.11,0.77,6,247,0,0,medium,consistent,hierarquical,egalitarian,operations,united states,positive,buzz,8036.0
14996,0.50,0.83,7,302,0,0,medium,key talent,egalitarian,egalitarian,operations,united states,positive,buzz,2058.0
14997,0.90,0.94,5,236,0,0,low,consistent,hierarquical,egalitarian,commercial,united states,positive,buzz,1046.0
14998,0.90,0.86,5,257,0,0,low,consistent,consensual,egalitarian,medical,sbu,positive,buzz,1659.0

In [55]:
list(df.columns.values)

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'Work_accident',
 'promotion_last_5years',
 'salary',
 'leader_host',
 'culture_home',
 'culture_host',
 'function_host',
 'business Size_host',
 'economic Perspective_host',
 'buzz_bust',
 'delta']

In [56]:
# select column names that need to be converted to dummy variables
to_dummify = [
 'salary',
 'leader_host',
 'culture_home',
 'culture_host',
 'economic Perspective_host',
 'business Size_host', 
 'function_host'
 ]

In [57]:
for dummy in to_dummify:
    df = pd.concat([df.drop(dummy, axis=1), pd.get_dummies(df[dummy], drop_first=True,
                prefix=dummy)], axis=1)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,buzz_bust,delta,salary_low,salary_medium,...,function_host_communication,function_host_compliance,function_host_finance,function_host_human resources,function_host_legal,function_host_market access,function_host_marketing,function_host_medical,function_host_operations,function_host_regulatory affairs
0,0.75,1.00,4,216,0,0,buzz,761.0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0.89,0.85,5,266,0,0,buzz,761.0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,0.41,0.50,2,128,0,0,buzz,761.0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0.45,0.49,2,144,0,0,buzz,761.0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,0.10,0.82,7,265,0,0,buzz,761.0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [58]:
X = df.drop("buzz_bust", axis=1)
y = df["buzz_bust"]
print(X.shape, y.shape)
X.head(1)

(13410, 34) (13410,)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,promotion_last_5years,delta,salary_low,salary_medium,leader_host_key talent,...,function_host_communication,function_host_compliance,function_host_finance,function_host_human resources,function_host_legal,function_host_market access,function_host_marketing,function_host_medical,function_host_operations,function_host_regulatory affairs
0,0.75,1.0,4,216,0,0,761.0,1,0,1,...,0,0,0,0,0,0,1,0,0,0

In [59]:

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                    random_state=1, stratify=y)

In [60]:
# Create a StandardScater model and fit it to the training data
X_scaler = MinMaxScaler().fit(X_train)

C:\Users\h4wth\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [61]:
# Transform the training and testing data using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [62]:
# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [77]:
# determine input_dim for model
input_dim = len(list(df.columns.values))-1

# create model
model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=input_dim))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [78]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 6)                 210
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_14 (Dense)             (None, 2)                 14
=================================================================
Total params: 266
Trainable params: 266
Non-trainable params: 0
_________________________________________________________________

In [79]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [80]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 0.7024 - acc: 0.6511
Epoch 2/100
 - 0s - loss: 0.5179 - acc: 0.7916
Epoch 3/100
 - 0s - loss: 0.5107 - acc: 0.7916
Epoch 4/100
 - 0s - loss: 0.5020 - acc: 0.7916
Epoch 5/100
 - 0s - loss: 0.4943 - acc: 0.7917
Epoch 6/100
 - 0s - loss: 0.4873 - acc: 0.7921
Epoch 7/100
 - 1s - loss: 0.4803 - acc: 0.7941
Epoch 8/100
 - 0s - loss: 0.4733 - acc: 0.7927
Epoch 9/100
 - 0s - loss: 0.4650 - acc: 0.7932
Epoch 10/100
 - 0s - loss: 0.4554 - acc: 0.7943
Epoch 11/100
 - 0s - loss: 0.4473 - acc: 0.8009
Epoch 12/100
 - 0s - loss: 0.4413 - acc: 0.7998
Epoch 13/100
 - 0s - loss: 0.4358 - acc: 0.8030
Epoch 14/100
 - 0s - loss: 0.4307 - acc: 0.8061
Epoch 15/100
 - 0s - loss: 0.4262 - acc: 0.8063
Epoch 16/100
 - 0s - loss: 0.4216 - acc: 0.8077
Epoch 17/100
 - 0s - loss: 0.4180 - acc: 0.8103
Epoch 18/100
 - 0s - loss: 0.4151 - acc: 0.8060
Epoch 19/100
 - 0s - loss: 0.4118 - acc: 0.8095
Epoch 20/100
 - 1s - loss: 0.4091 - acc: 0.8085
Epoch 21/100
 - 0s - loss: 0.4079 - acc: 0.8086
Epoch 22/100
 - 0s - loss: 0.4046 - acc: 0.8093
Epoch 23/100
 - 0s - loss: 0.4033 - acc: 0.8089
Epoch 24/100
 - 0s - loss: 0.4008 - acc: 0.8103
Epoch 25/100
 - 0s - loss: 0.4003 - acc: 0.8089
Epoch 26/100
 - 0s - loss: 0.3975 - acc: 0.8094
Epoch 27/100
 - 0s - loss: 0.3950 - acc: 0.8115
Epoch 28/100
 - 0s - loss: 0.3929 - acc: 0.8115
Epoch 29/100
 - 0s - loss: 0.3919 - acc: 0.8109
Epoch 30/100
 - 0s - loss: 0.3891 - acc: 0.8113
Epoch 31/100
 - 0s - loss: 0.3874 - acc: 0.8128
Epoch 32/100
 - 0s - loss: 0.3865 - acc: 0.8116
Epoch 33/100
 - 1s - loss: 0.3863 - acc: 0.8122
Epoch 34/100
 - 1s - loss: 0.3838 - acc: 0.8191
Epoch 35/100
 - 0s - loss: 0.3842 - acc: 0.8165
Epoch 36/100
 - 0s - loss: 0.3817 - acc: 0.8218
Epoch 37/100
 - 0s - loss: 0.3808 - acc: 0.8229
Epoch 38/100
 - 0s - loss: 0.3803 - acc: 0.8258
Epoch 39/100
 - 0s - loss: 0.3799 - acc: 0.8274
Epoch 40/100
 - 0s - loss: 0.3783 - acc: 0.8280
Epoch 41/100
 - 0s - loss: 0.3768 - acc: 0.8281
Epoch 42/100
 - 0s - loss: 0.3764 - acc: 0.8286
Epoch 43/100
 - 0s - loss: 0.3757 - acc: 0.8316
Epoch 44/100
 - 0s - loss: 0.3762 - acc: 0.8283
Epoch 45/100
 - 0s - loss: 0.3760 - acc: 0.8273
Epoch 46/100
 - 0s - loss: 0.3745 - acc: 0.8302
Epoch 47/100
 - 0s - loss: 0.3743 - acc: 0.8286
Epoch 48/100
 - 0s - loss: 0.3734 - acc: 0.8296
Epoch 49/100
 - 1s - loss: 0.3723 - acc: 0.8315
Epoch 50/100
 - 0s - loss: 0.3719 - acc: 0.8297
Epoch 51/100
 - 0s - loss: 0.3704 - acc: 0.8303
Epoch 52/100
 - 0s - loss: 0.3716 - acc: 0.8300
Epoch 53/100
 - 0s - loss: 0.3698 - acc: 0.8311
Epoch 54/100
 - 0s - loss: 0.3690 - acc: 0.8299
Epoch 55/100
 - 0s - loss: 0.3683 - acc: 0.8313
Epoch 56/100
 - 0s - loss: 0.3679 - acc: 0.8294
Epoch 57/100
 - 0s - loss: 0.3679 - acc: 0.8319
Epoch 58/100
 - 0s - loss: 0.3652 - acc: 0.8273
Epoch 59/100
 - 0s - loss: 0.3651 - acc: 0.8281
Epoch 60/100
 - 1s - loss: 0.3649 - acc: 0.8316
Epoch 61/100
 - 0s - loss: 0.3647 - acc: 0.8283
Epoch 62/100
 - 0s - loss: 0.3629 - acc: 0.8301
Epoch 63/100
 - 0s - loss: 0.3633 - acc: 0.8296
Epoch 64/100
 - 0s - loss: 0.3624 - acc: 0.8329
Epoch 65/100
 - 0s - loss: 0.3617 - acc: 0.8285
Epoch 66/100
 - 0s - loss: 0.3615 - acc: 0.8302
Epoch 67/100
 - 0s - loss: 0.3601 - acc: 0.8312
Epoch 68/100
 - 0s - loss: 0.3605 - acc: 0.8316
Epoch 69/100
 - 0s - loss: 0.3599 - acc: 0.8320
Epoch 70/100
 - 0s - loss: 0.3597 - acc: 0.8289
Epoch 71/100
 - 0s - loss: 0.3598 - acc: 0.8288
Epoch 72/100
 - 0s - loss: 0.3587 - acc: 0.8307
Epoch 73/100
 - 1s - loss: 0.3582 - acc: 0.8298
Epoch 74/100
 - 0s - loss: 0.3574 - acc: 0.8331
Epoch 75/100
 - 0s - loss: 0.3587 - acc: 0.8305
Epoch 76/100
 - 0s - loss: 0.3575 - acc: 0.8320
Epoch 77/100
 - 0s - loss: 0.3564 - acc: 0.8317
Epoch 78/100
 - 0s - loss: 0.3562 - acc: 0.8324
Epoch 79/100
 - 0s - loss: 0.3553 - acc: 0.8331
Epoch 80/100
 - 0s - loss: 0.3565 - acc: 0.8314
Epoch 81/100
 - 0s - loss: 0.3552 - acc: 0.8327
Epoch 82/100
 - 0s - loss: 0.3560 - acc: 0.8312
Epoch 83/100
 - 0s - loss: 0.3557 - acc: 0.8293
Epoch 84/100
 - 0s - loss: 0.3541 - acc: 0.8316
Epoch 85/100
 - 0s - loss: 0.3541 - acc: 0.8330
Epoch 86/100
 - 0s - loss: 0.3535 - acc: 0.8308
Epoch 87/100
 - 1s - loss: 0.3535 - acc: 0.8335
Epoch 88/100
 - 0s - loss: 0.3539 - acc: 0.8311
Epoch 89/100
 - 0s - loss: 0.3540 - acc: 0.8329
Epoch 90/100
 - 0s - loss: 0.3538 - acc: 0.8339
Epoch 91/100
 - 0s - loss: 0.3526 - acc: 0.8320
Epoch 92/100
 - 0s - loss: 0.3518 - acc: 0.8331
Epoch 93/100
 - 0s - loss: 0.3526 - acc: 0.8332
Epoch 94/100
 - 0s - loss: 0.3525 - acc: 0.8351
Epoch 95/100
 - 0s - loss: 0.3505 - acc: 0.8370
Epoch 96/100
 - 0s - loss: 0.3505 - acc: 0.8377
Epoch 97/100
 - 0s - loss: 0.3505 - acc: 0.8333
Epoch 98/100
 - 0s - loss: 0.3508 - acc: 0.8359
Epoch 99/100
 - 0s - loss: 0.3511 - acc: 0.8327
Epoch 100/100
 - 0s - loss: 0.3509 - acc: 0.8367

In [81]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.3610 - acc: 0.8392
Normal Neural Network - Loss: 0.36097921294629876, Accuracy: 0.8392484188079834